<!-- Modal -->
<div class="modal fade" id="form-register" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <!--Content-->
    <form method="POST" action="{% url 'register' %}" class="modal-content form-elegant">
      <!--Header-->
	    {% csrf_token %}
      <div class="modal-header text-center">
        <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3" id="myModalLabel"><strong>Sign Up</strong></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body mx-4">
        <!--Body-->
	      <div class="md-form mb-3">
          <input name="username" type="text" id="register-form-username" class="form-control validate">
          <label class="small text-muted ml-2" data-error="wrong" data-success="right" for="register-form-username">Your username</label>
        </div>

        <div class="md-form mb-3">
          <input name="email" type="email" id="register-form-email" class="form-control validate">
          <label class="small text-muted ml-2" data-error="wrong" data-success="right" for="register-form-email">Your email</label>
        </div>

        <div class="md-form pb-3">
          <input name="password" type="password" id="register-form-pass1" class="form-control validate" required>
          <label class="small text-muted ml-2" data-error="wrong" data-success="right" for="register-form-pass1">Your password</label>

        </div>

        <div class="md-form pb-3">
          <input type="password" id="register-form-pass2" class="form-control validate">
          <label class="small text-muted ml-2" data-error="wrong" data-success="right" for="register-form-pass2">Your password</label>

        </div>

        <div class="text-center mb-3">
          <button id="signup-btn" type="submit" class="btn btn-outline-primary btn-block btn-rounded z-depth-1a">Sign Up</button>
        </div>

      </div>
      <!--Footer-->
      <div class="modal-footer mx-5 pt-3 mb-1">
        <p class="font-small grey-text d-flex justify-content-end">Already have an account? <a href="#" class="blue-text ml-1">Sign in</a></p>
      </div>

    </form>
    <!--/.Content-->
  </div>
</div>
<!-- Modal -->